.robotDivStyle {
  float: left;
  margin: 2vh;
  margin-right: 5vh;
  margin-top: 8vh;

  @media screen and (max-width: 995px) {
    height: 5vh;
    margin-top: 0;
 }
}

.recommendationButton {
  background-color: rgb(168, 225, 238);
  font-size: 200%;
  max-width: 100%;
  @media screen and (max-width: 995px) {
    margin-top: 0;
    font-size: 120%;
    width: 100%;
 }
}

.recommendation {
  padding-top: 5px;
  border: 3px solid transparent;
  background-color: white;
  height: 40vh;
  margin: 2vh;
  width: 30vw;
  border-radius: 1%;
  box-shadow: 0 5px 30px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  float: left;

  @media screen and (max-width: 995px) {
     width: 90vw;
     margin: 1vh;
     margin-top: 3vh;
     height: 35vh;
     width: 82vw;
  }
}

.recommendationImage {
  height: 13vw;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  @media screen and (max-width: 995px) {
     height: 26vw;
     width: auto;
 }
}

.h1 {
  margin: 0px;
}

.algorithmDescription {
  width: 60%;
  @media screen and (max-width:995px) {
    width: 100%;
  }
}

.header2 {
  font-size: 7vmin;
}

.header4 {
  font-size: 3.5vmin;
}

.header6 {
  font-size: 3vmin;
}

.robotsStyle {
  height: 30vh;
  width: auto;
  margin-top: 5vm;

  @media screen and (max-width: 995px) {
     display: none;
 }
}

.prospectInfoStyle {
  width: auto;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.prospectInfo {
  margin-top: -6px;
  font-size: 1.8vmin;
  height: 17vh;
  @media screen and (max-width: 995px) {
    font-size: 3.5vmin;
 }
}

.nameStyle {
  font-size: 2vmin;
  @media screen and (max-width: 995px) {
    font-size: 4vmin;
 }
}

.iconProspectStyle {
  width: 55px;
  height: auto;

  @media screen and (max-width: 995px) {
    width: 30px;
    height: auto;
 }
}

.description {
  width: 70%;
  border: 0px solid #ccc;
}

.robotStyle {
  height: 250px;
  width: auto;
}

.buttonStyle {
  font-size: 98%;
  background-color: #601848;
  width: 30vw;
  margin-left: -2.1vh;
  position: relative;
  bottom: 4vh;

  @media screen and (max-width: 995px) {
    width: 110%;
    font-size: 50%;
    bottom: 0;
 }
}