@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/*background-color: rgb(254,67,101);*/

.header {
  z-index: 1;
  width: 100%;
  margin: 0 0 10px 0;
  background-color: #601848;
}

.header a {
	font-family: 'Lobster', cursive !important;
	color: rgb(254,67,80) !important;
	font-size: large;
}

.header .active a {
	background-color: black;
}

.header span {
	font-family: 'Helvetica Neue';
	color: white;
}

.header strong {
	color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: black;
}

.loginlogoutmobile {
  @media screen and (min-width: 995px) {
  	display: none;
  }
}

.loginlogoutdesktop {
  @media screen and (max-width: 995px) {
  	display: none;
  }
}

.brand {
  position: relative;
  $size: 40px;
  top: 0px;
  left: 5px;
  display: inline-block;
  background: black url('http://i.imgur.com/PIDJGcO.png') no-repeat center center;
  width: $size;
  height: $size;
  background-size: 80%;
  margin: -10px 10px 0 0;
  border-radius: $size / 2;
}