.target {

  background-color: #efefef;
  border-radius: 1.5%;
  height: 81vh;
  @media (max-width: 768px) {
    height: 49vh;
  }
  @media screen and (max-width:320px) and (max-height:480px) {
    margin-top: -10px;
  }
}

.buttons {
  margin-top: 2vmin;
  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.targetImage {
  margin-top: 1.5vh;
  height: 52vmin;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 768px) {
    background-color: #efefdd;
    height: 32vh;
  }
}

.icon {
  margin-top: -15px;
  height: 7vmin;
  width: auto;
  @media (max-width: 768px) {
    height: 5vmin;
  }

}

.button {
  width: 50%;
  font-size: 2.3vmin;
  @media (max-width: 768px) {
  	font-size: 2.4vmin;
    padding: 1.5vmin;
  }
}

.userInfo {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-right: auto;
}