.target {
  margin-left: auto;
  background-color: white;
  margin-bottom: 0.5em;
  border-radius: 0.5%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 40vw;
  height: 80vh;

  @media (max-width: 995px) {
    width: auto;
    height: auto;
    display: flex;
  }
}

.buttons {
  margin-top: 2vmin;
  margin-left: 10em;
}

.targetImage {
  height: 50vw;
  width: auto;
  max-height: 50vh;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 995px) {
    height: auto;
    width: auto;
  }
}

.icon {
  margin: auto;
  height: 5vmin;
  width: auto;
  @media (max-width: 768px) {
    height: 5vmin;
  }

}

.button {
  font-size: 2.3vmin;
  @media (max-width: 768px) {
  	font-size: 2.4vmin;
    padding: 1.5vmin;
  }
}

.userInfo {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-right: auto;
}